{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} TRENDS - DUAL CROSSOVER MOVING AVERAGES {% endblock %}</h1>

    {{content.date_today}}
    <br>

    <h2>Dual Crossover Signals for selected assets (50d - 200d)</h2>



    <table style="width:100%">
    <tr>
        <th>Date</th>
        <th>Asset</th>
        <th>Short MA</th>
        <th>Long MA</th>
        <th>Signal</th>
    </tr>
    {% for k, v in content.df.iterrows() %}
    <tr>
        <td>{{ k }}</td>
        <td>{{ v['asset'] }}</td>
        <td>{{ v['short_ma'] }}</td>
        <td>{{ v['long_ma'] }}</td>
        <td>{{ v['signal_type'] }}</td>
    </tr>
    {% endfor %}

    </table>

{% endblock %}